@use '../_base';

.howIveWorkedText {
    & .howIveWorkedTitle {
        line-break: strict;
    }
    .floatie {
        float: left;
        margin-right: .75rem;
        margin-bottom: .75rem;
        padding: 0 3rem .75rem 1rem;
        border-radius: base.$big;
        border: base.$border;
        @extend %glassmorphism-minimal;

        & ul {
            margin: 0;
            list-style-type: circle;
        }
    }
}