
.select-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    .select {
        margin: 5px;
        padding: 5px;
        border: 1px solid black;
        
        font-size: 18px;
        font-family: Calibri, 'Trebuchet MS', sans-serif;
        color: #141414;
    }
}

.colors-wrapper {
    float:right;
}