@use '../_base';

.form {
  display: flex;
  flex-direction: column;
  
  button { 
    width: fit-content;
    margin: 0 auto;
    padding: .5rem 1.5rem;
    border: base.$border;
    border-radius: base.$small;

    @extend %glassmorphism-minimal;
  }
  input {
    border-radius: base.$small;
    border: base.$border;
    padding: .5rem;
    
  }
  
  & * {
    margin: 5px;
  }
}
