@use '../_base';

.header {
    width: 100%;
    text-align: center;
    padding-bottom: 1em;
    margin-bottom: 1.5rem;
    @extend %glassmorphism;
    
    
    h1 { 
        line-height: 0;
    }
    nav {
        line-height: normal;
    }
    nav ul {
        list-style: none;
        margin: 0;
        padding: 0;

        @extend %flexRowEven;
    }
    nav li {
        margin: 5px;
    }
}
