@use '../_base';

.table {
    width: 100%;
    // max-width: 30rem;
    border: base.$border;
    border-collapse: collapse;
    // table-layout: fixed;


	@extend %glassmorphism-minimal;

    td {
        padding-left: 1em;
        margin: 3px 0;
    }

    .table__header {
        border-bottom: 1px solid gray;
    }
    
    .table__content {

        tr {
            transition: .5s;
            &:hover {
                background-color: base.$gray-bg;
                box-shadow: inset 0 0 0 2px base.$dark;
            }
        }

        .checkbox-holder {
            @extend %flexRowCenter;
            // align-items: center;
        }
        .checkbox {
            width: 30px;
            height: 30px;
            margin: 0;
            transition: .5s;


            &:checked {
                background: base.$blue;
            }
            &:hover {
                border: 3px solid base.$dark;
                box-shadow: 0 0 .25rem base.$dark;
            }
        }
    }
}
