@use './_base';
@import url('https://fonts.googleapis.com/css2?family=Roboto+Flex:opsz,wdth,wght,GRAD,XTRA,YOPQ,YTAS,YTDE,YTFI,YTLC,YTUC@8..144,35,830,-45,493,64,854,-305,788,416,760;8..144,70,438,-200,424,71,762,-215,788,510,760&display=swap');

* {
	box-sizing: border-box;

	font-size: 18px;
	font-family: 'Roboto Flex', sans-serif;
	font-variation-settings: "opsz" 18, "slnt" 0, "GRAD" -200, "XTRA" 424, "YOPQ" 71, "YTAS" 762, "YTDE" -215, "YTFI" 788, "YTLC" 510, "YTUC" 760;
	color: base.$dark; 
}

body {
	width: 100%;
	min-height: 100%;
	margin: 0;
	
	background-image: url('./assets/bodyBG.svg');
    background-size: cover;
}

h1, h2, h3 {
	font-variation-settings: "opsz" 30, "slnt" 0, "GRAD" -45, "XTRA" 493, "YOPQ" 64, "YTAS" 854, "YTDE" -305, "YTFI" 788, "YTLC" 416, "YTUC" 760;
	font-family: 'Roboto Flex', sans-serif;
}

h1 { font-size: 30px; }
h2 { font-size: 26px; }
h3 { font-size: 22px; }

.italic { font-style: italic; }
.bold { font-weight: bolder; }

img {
	margin: 1em;
}

.views {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.views__wrapper {
	padding: 1rem;
	margin: 1rem;
	width: 95%;
	max-width: 50rem;
	border-radius: base.$big;
	@extend %glassmorphism;
	
	p {
		line-height: 1.75rem;
	}
}

.yarn {
	background: radial-gradient(circle at 50% 50%,rgba(255, 255, 255, 1), rgba(255, 255, 255, 0));
}